.app {
  margin: 25px;
  display: flex;
}

.header {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin: 25px;
  display: flex;
  align-items: center;

  i {
    padding-right: 15px;
    font-size: 20px;
    cursor: pointer;
  }
}

.subheader {
  font-family: "Lato", sans-serif;
  color: #A0AABF;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px;
  border-bottom: 1px solid #DEDEDE;
}

.half {
  width: 50%;
  height: calc(100vh - 50px - 25px - 20px);
  border: 1px solid #DEDEDE;

  &:last-child {
    border-left: none;
  }

  .content {
    padding: 10px;
  }
}
